body {
    background-color: #f0f8ff;
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.container {
    background-color: #fff;
    margin: 40px auto;
    width: 70%;
    padding: 40px 80px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

.container h1 {
    font-size: 40px;
    text-align: center;
    margin-bottom: 20px;
}

.container p {
    text-align: center;
    margin-bottom: 20px;
}

.upload form {
    background: white;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px black;
}

.upload label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
    color: black;
}

.upload select,
.upload input[type="file"],
.upload textarea,
.upload button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid gray;
    border-radius: 4px;
}

.upload button {
    background-color: navy;
    color: white;
    font-size: 16px;
    border: none;
    padding: 10px;
    margin-top: 15px;
    cursor: pointer;
    border-radius: 4px;
}

.upload button:hover {
    background-color: blue;
}