{% extends 'base.html' %} 
{% block content %}


    <h1>
        EmotiGame
    </h1>

    <p>
        The Department of Computer Science and Engineering at the University of Nevada, Reno,<br>
        CS 426 Senior Project<br>
        Spring 2025
    </p>

    <h3>
        About:
    </h3>

    <p>
        EmotiGame is a research study exploring how biometric data can reveal patterns in gaming skill levels. Our study brings together 12 participants—6 skilled and 6 unskilled—to compete in 1v1 League of Legends matches against an expert control player.
    </p>

    <p>
        As participants play, we track heart rate, keyboard activity, and mouse movement to analyze physiological and behavioral differences between skill levels. Using machine learning, we aim to uncover biometric indicators that may distinguish experienced players from beginners.
    </p>

    <p>
        This website serves as a hub for participants to log in, complete surveys about their gameplay experience, and stay updated on our findings. Stay tuned as we dive into the science of gaming performance!
    </p>

    <h3>
        Resources:
    </h3>

    <p>
        <a href="https://github.com/EmotiBit/EmotiBit_Docs">- https://github.com/EmotiBit/EmotiBit_Docs</a><br>
        <a href="https://www.unr.edu/research-integrity/human-research/human-research-protection-policy-manual">- https://www.unr.edu/research-integrity/human-research/human-research-protection-policy-manual</a><br>
        <a href="https://about.citiprogram.org/series/responsible-conduct-of-research-rcr/?gad_source=1&gclid=CjwKCAiA74G9BhAEEiwA8kNfpSLschxpomVLgH37jbSiwZ_R1jFiXeVgvpTmAxXIkbRwAzAoJXb7RBoCJDYQAvD_BwE">- https://about.citiprogram.org/series/responsible-conduct-of-research-rcr</a><br>
        <a href="https://books.google.com/books?id=2iVyZNLnVxMC">- https://books.google.com/books?id=2iVyZNLnVxMC</a><br>
        <a href="https://www.sciencedirect.com/science/article/pii/S2451958824002008">- https://www.sciencedirect.com/science/article/pii/S2451958824002008</a><br>
        <a href="https://bjsm.bmj.com/content/16/2/96.abstract">- https://bjsm.bmj.com/content/16/2/96.abstract</a><br>
        <a href="http://miro.enev.us/docs/mouse_ID.pdf">- http://miro.enev.us/docs/mouse_ID.pdf</a><br>
        <a href="https://github.com/gireeshkbogu/LAAD">- https://github.com/gireeshkbogu/LAAD</a><br>
        <a href="https://dspace.mit.edu/handle/1721.1/155895">- https://dspace.mit.edu/handle/1721.1/155895</a><br>
    </p>

{% endblock %}