<!-- TODO: expand functionality -->
<!-- TODO: improve presentation of page -->
{% extends 'base.html' %} 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
    <h1>
        Forms
    </h1>
    <!-- TODO: get forms from database to display on page -->
    <form method="POST">
        <table class="documents">
            <thead>
                <th class="input">Select</th>
                <th>Consent Form</th>
                <th>Survey</th>
                <th>User</th>
            </thead>
            <tbody>
                <!-- TODO: database data (currently tempory data) (needs for loop)-->
                <!-- TODO: add value=file.filename to input fields for deletion -->
                <tr>
                    <td class="input"><input type="checkbox" 
                        name="files_to_delete"></td>
                    <td>bob_jones.pdf</td>
                    <td>bob_jones_survey.pdf</td>
                    <td>Bob Jones</td>
                </tr>
                <tr>
                    <td class="input"><input type="checkbox" 
                        name="files_to_delete"></td>
                    <td>john_doe.pdf</td>
                    <td>john_doe_survey.pdf</td>
                    <td>John Doe</td>
                </tr>
                <tr>
                    <td class="input"><input type="checkbox" 
                        name="files_to_delete"></td>
                    <td>jane_doe.pdf</td>
                    <td>jane_doe_survey.pdf</td>
                    <td>Jane Doe</td>
                </tr>
            </tbody>
        </table>
        <!-- TODO: add button functionality with database -->
        <!-- TODO: onclick:functionCall() -->
        <button type="submit">Delete</button>
    </form>

    <form>
        <button type="submit">Upload File</button>
    </form>
{% endblock %}