<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    </head>
    <body>
        <!-- TODO: improve presentation of page -->
        {% block nav %}
            <nav class="navbar">
                <a href="{{ url_for('index') }}"
                    class="{% if request.endpoint == 'index' %} active {% endif %}">
                    Home
                </a>
                <a href="{{ url_for('about') }}"
                    class="{% if request.endpoint == 'about' %} active {% endif %}">
                    About
                </a>
                <a href="{{ url_for('contributors') }}"
                    class="{% if request.endpoint == 'contributors' %} active {% endif %}">  
                    Contributors
                </a>
                <a href="{{ url_for('league') }}"
                    class="{% if request.endpoint == 'league_of_legends' %} active {% endif %}">
                    Results
                </a>
                {% if session.get('username') %}
                <a href="{{ url_for('survey') }}"
                    class="{% if request.endpoint == 'survey' %} active {% endif %}">
                    Surveys
                {% endif %}
                </a>
                {% if (session.get('user_id')) == 1 %}
                <a href="{{ url_for('admin') }}"
                    class="{% if request.endpoint == 'admin' %} active {% endif %}">
                    Admin
                {% endif %}
                </a>
                {% if session.get('username') %}
                    <a href="{{ url_for('logout') }}"
                        class="{% if request.endpoint == 'logout' %} active {% endif %}">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ url_for('login') }}"
                        class="{% if request.endpoint == 'login' %} active {% endif %}">
                        Login
                    </a>
                {% endif %}

                <!-- TODO: add EmotiGame image to right side of navbar -->
            </nav>
        {% endblock nav %}
        <div>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>