<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>{% block title %} {% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/navbar.css') }}">
    </head>
    <body>
        <!-- TODO: improve presentation of page -->
        {% block nav %}
            <nav class="navbar">
                <a href="{{ url_for('index') }}"
                    class="{% if request.endpoint == 'index' %} active {% endif %}">
                    Home
                </a>
                <a href="{{ url_for('chess') }}"
                    class="{% if request.endpoint == 'chess' %} active {% endif %}">
                    Chess
                </a>
                <a href="{{ url_for('league') }}"
                    class="{% if request.endpoint == 'league_of_legends' %} active {% endif %}">
                    League Of Legends
                </a>
                <a href="{{ url_for('valorant') }}"
                    class="{% if request.endpoint == 'valorant' %} active {% endif %}">
                    Valorant
                </a>
                <a href="{{ url_for('rocket') }}"
                    class="{% if request.endpoint == 'rocket_league' %} active {% endif %}">
                    Rocket League
                </a>
                <!-- TODO: uncomment if statement when database implemented with actual fields -->
                <!-- {##% if user.admin == True %##} -->
                <a href="{{ url_for('admin') }}"
                    class="{% if request.endpoint == 'admin' %} active {% endif %}">
                    <!-- TODO: make page available only to admin users -->
                    Admin
                <!-- {##% endif %##} -->
                </a>
                {% if session.get('username') %}
                    <a href="{{ url_for('logout') }}"
                        class="{% if request.endpoint == 'logout' %} active {% endif %}">
                        Logout
                    </a>
                {% else %}
                    <a href="{{ url_for('login') }}"
                        class="{% if request.endpoint == 'login' %} active {% endif %}">
                        Login
                    </a>
                {% endif %}
                <!-- TODO: add EmotiGame image to right side of navbar -->
            </nav>
        {% endblock nav %}
        <div>
            {% block content %} {% endblock %}
        </div>
    </body>
</html>