{% extends 'base.html' %} 
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    
    <div class="container">
        <h1>
            Meet the people who made this happen!
        </h1>

        <h2>
            Team 34:
        </h2>

        <p>
            Morgan Jensen<br>
            Carson Ramocinski<br>
            Thomas Nelson
        </p>

        <h2>
            Our Advisors:
        </h2>

        <p>
            Michael Wilson - UNR CSE<br>
            Sean Mongomery - Connected Future Labs
        </p>

        <h2>
            Our Instructors (UNR CSE):
        </h2>

        <p>
            David Feil-Seifer<br>
            Sara Davis<br>
            Vinh Le<br>
            Levi Scully
        </p>
    </div>

{% endblock %}