{% extends 'base.html' %} 
{% block content %}
    <!-- TODO: improve presentation of page -->
    <h1>
        Meet the people who made this happen!
    </h1>

    <h3>
        Team 34:
    </h3>

    <p>
        Morgan Jensen<br>
        Carson Ramocinski<br>
        Thomas Nelson
    </p>

    <h3>
        Our Advisors:
    </h3>

    <p>
        Michael Wilson - UNR CSE<br>
        Sean Mongomery - Connected Future Labs
    </p>

    <h3>
        Our Instructors (UNR CSE):
    </h3>

    <p>
        David Feil-Seifer<br>
        Sara Davis<br>
        Vinh Le<br>
        Levi Scully
    </p>

{% endblock %}