{% extends 'base.html' %} 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <!-- TODO: improve presentation of page -->
    <h1>
        EmotiGame Landing Page
    </h1>

    <!-- If user is logged in, present a welcome message. If not then promt user to log in -->
    {% if session.get('username') %}
        <p> Welcome, {{ session.get('username') }}.</p>
    {% else %}
        <p>Please log in.</p>
    {% endif %}
{% endblock %}