{% extends 'base.html' %} 
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages.css') }}">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            <div class="flashes">
                {% for message in messages %}
                    <p>{{ message }}</p>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}
    <!-- TODO: improve presentation of page -->
    
    <div class="container">
        <h1>
            Welcome to the EmotiGame Study <br>
        </h1>

        <p>
            We are on a mission to uncover biometric indicators of gaming skill. By analyzing heart rate, keyboard activity, and mouse movment, we aim to understand what sets skilled players apart. Why does this matter? We want to help improve skill development and future game design for better player experience. Feel free to explore our website and learn more about our research!
        </p>

        <h3>
            Want to learn more?
        </h3>
        <p>
            Go to our about page or click here:<br>
            <a href="{{ url_for('about') }}"
                        class="{% if request.endpoint == 'about' %} active {% endif %}">
                        about page
            </a>
        </p>

        <h3>
            Are you a participant?
        </h3>    
        <p>
            Log in here:<br>
            <a href="{{ url_for('login') }}"
                        class="{% if request.endpoint == 'login' %} active {% endif %}">
                        Login/Create Account
            </a>
        </p>
    </div>

{% endblock %}