{% extends 'base.html' %}
{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/survey.css') }}">

    <div class="container">
      <h1>{{ "Presence Survey" }}</h1>
      {% if submit %}
          <h3>Thank you for submitting your answers!</h3>
      {% else %}
          <p>Thank you for playing! 
              Reflect on your play experiences and rate your agreement with the following statements:
          </p>
          <br>

          <form method="post">
              {% for question_id, question_text, anchors in questions %}
                <div class="questions-container">
                  <div class="question-text">
                    <label>{{ question_text }}</label><br><br>
                  </div>
                  
                  <div class="anchors-buttons-container">
                    <div class="anchors">
                      <span>{{ anchors[0] }}</span>
                      {% if anchors|length == 3 %}
                        <span>{{ anchors[1] }}</span>
                      {% endif %}
                      <span>{{ anchors[-1] }}</span>
                    </div>
                  
                    <div class="buttons">
                      {% for i in range(1, 8) %}
                        <input type="radio" name="answer_{{ question_id }}" value="{{ i }}" required>
                      {% endfor %}
                    </div>
                    <br>
                  </div>
                </div>
              {% endfor %}
              <button type="submit" class="submit-button">Submit</button>
          </form>
      {% endif %}
    </div>
{% endblock %}

